@model Pie
<div class="col-sm-4 col-lg-4 col-md-4 mb-3">
    <div class="card">
        <img class="card-img-top" src="@Model.ImageThumbnailUrl" alt="">
        <div class="card-body">
            <h5 class="card-title">
                <a asp-controller="Pie"
                   asp-action="Details"
                   asp-route-id="@Model.PieId">@Model.Name</a> - @Model.Price.ToString("c")
            </h5>
            <p class="card-text">@Model.ShortDescription</p>
            <a class="btn btn-primary"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-pieId="@Model.PieId">Add to cart</a>
        </div>
    </div>
</div>